section {
  text-align: center;
}

.play_controls {
  /* flex properties */
  display: flex;
  justify-content: space-between;

  /* other properties */
  padding: 10px 40px;
}
.control {
  width: 50px;
  height: 50px;
  background-color: rgb(95, 161, 223);
  border-radius: 5%;
  border: none;
}
